/* 蓝蓝的那个窗体
   用的时候html结构:
    ul
        li
        li

            <div class="Content-BlueFrame">
                <div class="title">
                    虚拟主机</div>
                <div class="List">
                    <ul>
                        <li>平面设计</li>
                        <li>建站营销</li>
                        <li>虚拟主机</li>
                        <li>域名注册</li>
                        <li>企业邮箱</li>
                        <li>项目案例</li>
                    </ul>
                </div>
            </div>
 */
.Content-BlueFrame { width: 212px;border: 1px solid #108ac3; background-color: #eeeeee; }
.Content-BlueFrame .title { width: 213px; height: 32px; background-color: #0096dc; text-align: center; line-height: 32px; color: White; font-size: 14px; font-family: 微软雅黑; }
.Content-BlueFrame ul { font-family: 微软雅黑; font-size: 14px;padding-bottom:37px;}
.Content-BlueFrame li {position: relative; line-height: 32px;font-size: 12px; width: 202px; margin: 0px auto; border-bottom: 1px solid #d1d1d1; border-top: 1px solid #fff;cursor:pointer;}
.Content-BlueFrame li:first-child{border-top:none;}
.Content-BlueFrame li:last-child{border-bottom:none;}
.Content-BlueFrame li:before{content: '';width:12px;height: 12px;display: block;float: left;background-image: url('../images/icon_total.png');background-position: -206px -123px;margin: 10px 3px 0px 9px;}


/* 图标是箭头的那个窗体
   用的时候html结构:
    ul
        li
        li
 */
.Content-AccosFrame { width: 212px;border: 1px solid #c9c9c9;}
.Content-AccosFrame ul { font-family: 微软雅黑; font-size: 14px; }
.Content-AccosFrame li { line-height: 36px;font-size: 12px; width: 182px; margin: 0px auto; border-bottom: 1px solid #d1d1d1;cursor:pointer;}
.Content-AccosFrame li:first-child{border-top:none;}
.Content-AccosFrame li:last-child{border-bottom:none;}
.Content-AccosFrame li:before{content: '';width:12px;height: 12px;display: block;float: left;background-image: url('../images/icon_total.png');background-position: -253px -123px;margin: 11px 6px 0px 0px;}

/* 灰色的那个窗体
   用的时候html结构:
    ul
        li
        li
 */
.Content-GrayFrame { width: 212px;border: 1px solid #c9c9c9;}
.Content-GrayFrame .title { width: 198px; line-height: 32px; background-color: #eee; color: #0096dc; font-size: 14px; font-family: 微软雅黑; padding-left:14px;}
.Content-GrayFrame ul { font-family: 微软雅黑; font-size: 14px; margin-top:10px;}
.Content-GrayFrame li { line-height: 34px;font-size: 12px; width: 168px; padding-left: 16px; margin: 0px auto; border-bottom: 1px solid #d1d1d1;cursor:pointer;}
.Content-GrayFrame li:first-child{border-top:none;}
.Content-GrayFrame li:last-child{border-bottom:none;}
.Content-GrayFrame li:before{content: '';width: 10px;height: 13px;display: block;float: left;background-image: url('../images/icon_total.png');background-position: -320px -124px;position: absolute;margin: 9px 0px 0px -14px;}
